/* colors 
#2196F3 - accent
#000000 - b
#ffffff - w
#757575 - general color
#212121 - title color
#F5F4FA - taem bg
*/


:root {
  --general-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --light-text-color: #ffffff;
  --dark-text-color: #000000;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2F303A;
  --accent-bg-color: #2196F3;
  --extra-bg-color: #F5F4FA;
}

/* body  */

body {
  background: var(--primary-bg-color);
  color: var(--general-text-color);
  font-family: roboto, sans-serif;
}

/* header */

.header { 
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.header .link:hover,
.header .link:focus {
  color: var(--accent-color);
}
.header-nav .link {
  color: var(--title-text-color);

}
.header-contact {
  color: var(--general-text-color);
}
.header-nav .link.current {
  color: var(--accent-color);
}

/* logo */

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo > .logo-nav {
  color: var(--dark-text-color);
}
.logo > .logo-footer {
  color: var(--light-text-color);
}


/* footer */

.footer {
  background-color: var(--secondary-bg-color);
}
.address,
.footer-contact {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.address {
  color: var(--light-text-color);
}
.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

/* main index.html*/


/* .hero */
.hero {
    background-color: var(--secondary-bg-color);
}
.hero .title {
    color: var(--light-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero .button {
    background-color: var(--accent-bg-color);
    color: var(--light-text-color);
    border-width: 0px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}


/* main sections */

.section .section-title,
.section .list {
  color: var(--title-text-color);
}
.section .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

/* skills */

.section-title.opacity {
  opacity: 0;
  
}
.list.skill {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.section.skill .text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* team */

.team {
  background-color: var(--extra-bg-color);
}
.team .list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.team .position {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}




/* portfolio */

.portfolio .title {
  opacity: 0;
}

/* filters */

.filters .button {
  color: var(--title-text-color);
  background-color: #F5F4FA;
  border-width: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.filters .button:hover,
.filters .button:focus {
    background-color: var(--accent-bg-color);
    color: var(--light-text-color); 
}
.filters .current {
    background-color: var(--accent-bg-color);
    color: var(--light-text-color);
}

/* project */

.project .list {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project .type {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}